databaseClient/
strCodegenClient/
streamCodeGenerator/target/

/streamCodeGenerator/target/maven-archiver
/streamCodeGenerator/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
