<script type="text/html" id="user_tmpl">
      <pre>
       <code>
            <ol>   
                <li>### .env (prisma file) ###</li>
                <li>DATABASE_URL="postgresql://postgres:sragne@localhost:5432/growr?schema=public"</li>
            </ol>
            <ol>   
                <li>### shell commands for creating nodejs project with prisma and nextJS ###</li>
                
                <li>npm init -y</li>
                <li>npm install prisma typescript ts-node @types/node --save-dev</li>
                <li>npx tsc --init</li>
                
                <li>npx prisma init</li>
                <li>#npx prisma db validate</li>
                <li>#npx prisma db pull --force</li>
                <li>npx prisma db pull</li>
                <li>npx prisma db generate</li>
                <li>#npx prisma migrate dev --name init</li>
                <li>npm install @prisma/client</li>
                <li>npm install express pg sequelize express-session express-validator bcrypt passport passport-local connect-flash
                <li>npm install uuid</li>
                
                <li>## replace autoincrement() to auto() in prisma/schema.prisma file</li>
            </ol>
        </code>    
        <code>
            <ol>
                <li>//######### helper.js ###########</li>
                <li>function getRandomDate() {</li>
                <li>  const minYear = 1900;</li>
                <li>  const maxYear = 2099;</li>
                <li>  const year = Math.floor(Math.random() * (maxYear - minYear + 1)) + minYear;</li>
                <li>  const month = Math.floor(Math.random() * 12);</li>
                <li>  const maxDay = new Date(year, month + 1, 0).getDate();</li>
                <li>  const day = Math.floor(Math.random() * maxDay) + 1;</li>
                <li>  const hour = Math.floor(Math.random() * 24);</li>
                <li>  const minute = Math.floor(Math.random() * 60);</li>
                <li>  const second = Math.floor(Math.random() * 60);</li>
                <li>  const randomDate = new Date(year, month, day, hour, minute, second);</li>
                <li>  return randomDate;</li>
                <li>}</li>
                <li>function getRandomDateFormatted() {</li>
                <li>  const randomDate = getRandomDate();  </li>
                <li>  const year = randomDate.getFullYear();</li>
                <li>  const month = String(randomDate.getMonth() + 1).padStart(2, "0");  </li>
                <li>  const day = String(randomDate.getDate()).padStart(2, "0");</li>
                <li>  const formattedDate = `${year}-${month}-${day}`;</li>
                <li>  return formattedDate;</li>
                <li>}</li>
                
            </ol>
        </code>
       <code>
            <ol>   
                <li>//### importData.ts ###</li>
                <li>//npx ts-node src\\app\\db\\importData.ts</li>
                <li>//npx ts-node src/app/db/importData.ts</li>
                <li>const NUMBER_OF_RECORDS=10</li>
                <li>//import { PrismaClient } from "@prisma/client"</li>
                <li>const { PrismaClient } = require("@prisma/client");</li>
                <li>const prisma = new PrismaClient()</li>
                <li>async function main() {</li>
                <li>const { v4: uuidv4 } = require("uuid");</li>
                

                <li>&nbsp;for (var i=0; i< NUMBER_OF_RECORDS; i++){</li>
<% 
    var code=[];
    for ( var i = 0; i < selectedTables.length; i++ ) { 
        var schemaName=selectedTables[i].schema; 
        var tableName=selectedTables[i].table; 
        var funcName = generator.getFunctionName(schemaName,tableName,false); 
        var attribsNonAutogenerated=generator.getTableFieldNamesArr(schemaName,tableName,true);  
        var pkeyFields = generator.getPkeyFieldNames(schemaName, tableName);
       
        var schemaName=selectedTables[i].schema;
        var tableName=selectedTables[i].table;
        var fields = generator.getTableFields(schemaName, tableName, true);
                
        var pKeyFields=generator.getPkeyFieldNames(schemaName,tableName);
       
        code.push("await prisma."+tableName+".create({");
            code.push("data: {");

            for ( var j = 0; j < fields.length; j++ ) {
                var field = fields[j]; 
                var isFk = generator.isFieldPartOfFKey(schemaName, tableName, field.fieldName);
                var gType = field.genericDataType.trim();
                
                var types = generator.genericDataTypes;
                var fieldName = field.fieldName.trim();                
                var isNumeric = generator.isFieldNumeric(schemaName, tableName, fieldName);
                var fieldSize = generator.getFieldData(schemaName, tableName, fieldName).size;
                
                if (isFk){ 
                    if (isNumeric){
                        code.push("   "+fieldName+":"+"i"+",");
                    } else {
                        code.push("   "+fieldName+": String(i).padStart("+fieldSize+", \"0\"),");
                    }
                    continue;
                } else {
                    if (pkeyFields.includes(fieldName) && gType != "char") continue;
                    
                    switch(gType){
                          case 'uid':
                              code.push("     "+fieldName+": uuidv4() ,");
                              break;        
                          case 'varchar':
                              code.push("     "+fieldName+": \""+fieldName+" - \""+"+i,");
                              break;
                          case 'text':
                              code.push("   "+fieldName+": \""+fieldName+" - \""+"+i,");
                              break;
                          case 'char':
                              code.push("   "+fieldName+": String(i).padStart("+fieldSize+", \"0\"),");
                              break;
                          case 'integer':
                              code.push("   "+fieldName+":"+"i"+",");
                              break;          
                          case 'bigint':
                              code.push("   "+fieldName+":"+"i"+",");
                              break;  
                          case 'double':
                              code.push("   "+fieldName+": i/7 ,");
                              break;                                    
                          case 'bool':
                              code.push("   "+fieldName+": Math.random() < 0.5 ,");
                              break;
                          case 'date':
                              code.push("   "+fieldName+": \"2023-09-\"+"+"(\"0\"+i).slice(-2)"+",");
                              break;
                          case 'time':
                              code.push("   "+fieldName+": \"14:30:\""+"+(\"00\"+i).slice(-2)"+",");
                              break;                              
                          default :
                              code.push("field type not found!");
                              code.push(name);
                              code.push(gType);    
                              console.log(field);
                              break;
                    }
                }
            }

            code.push("}");
       code.push("})")   ;
     }
     
     code.push("    }");
     
     for (var i = 0; i < code.length; i++) {
        %> <li> <%= code[i] %></li><%
     }
     code=[];
%>
            <li>}</li>
            <li>main()</li>
            <li>  .then(async () => {</li>
            <li>    await prisma.$disconnect()</li>
            <li>  })</li>
            <li>  .catch(async (e) => {</li>
            <li>    console.error(e)</li>
            <li>    await prisma.$disconnect()</li>
            <li>    process.exit(1)</li>
            <li>  })</li>

            </ol>
        </code>    
 

    
    
    
</script>

