<script type="text/html" id="user_tmpl">
<!-- 
    mroam imat kod updejta i ID i sva ostala polja . neautoinkrementirajuci i PKey polja
    ona koja se automatski psotavljaju mine trebaju
-->
    <pre>
       <code>
           
<ol  >       
    <li>class ProjectSql{</li>
    <li>var $db = null;</li>
    <li>var $limit = null;</li>
    <li>var $offset = null;</li>
    <li>var $order = null;</li>
    <li>var $keyName = null;</li>
    <li>var $keyValue = null;</li>
    <li>public function __construct($dbConnection) {</li>
    <li>    $this->limit = null;</li>
    <li>    $this->offset = null;</li>
    <li>    //$this->limit = isset($_POST["jtPageSize"])?(int)$_POST["jtPageSize"]):null;</li>
    <li>    //$this->offset = isset($_POST["jtStartIndex"])?(int)$_POST["jtStartIndex"]):null;</li>
    <li>    $this->order = isset($_POST["jtSorting"]) ? addslashes(($_POST["jtSorting"])) : null;</li>
    <li>    </li>
    <li>    if ($this->order != null)</li>
    <li>        $this->order = str_replace("%20", " ", $this->order);</li>
    <li>    </li>
    <li>    $this->keyName = isset($_REQUEST["keyName"]) ? addslashes($_REQUEST["keyName"]) : null;</li>
    <li>    $this->keyValue = isset($_REQUEST[$this->keyName]) ? addslashes($_REQUEST[$this->keyName]) : null;</li>
    <li>    $this->db = $dbConnection;</li>
    <li>}</li>
    <li>    var $db=new DatabaseConnection();</li>
    <li>public function setListParameters($sql,$userAddition,$sortFields){</li>
    <li>    $sql = str_replace("#limit#", ($this->limit != null ) ? " LIMIT {$this->limit}" : "", $sql);</li>
    <li>    $sql = str_replace("#offset#", ($this->offset != null ) ? " OFFSET {$this->offset}" : "", $sql);</li>
    <li>    $sql = str_replace("#order#", ($this->order == null ) ? $sortFields : " {$this->order} ", $sql);</li>
    <li>    $sql = str_replace("#where#", ($this->keyName != null ) ? " WHERE {$this->keyName}={$this->keyValue}" : "", $sql);</li>
    <li>    if ($userAddition != null){</li>
    <li>        $userAddition =  (($this->keyName == null )?" WHERE ": " AND ") . $userAddition;</li>
    <li>        $sql = str_replace("#user#", $userAddition, $sql);</li>
    <li>    }else{</li>
    <li>        $sql = str_replace("#user#", "", $sql);</li>
    <li>    }</li>
<li>    </li>
    <li>    return $sql;</li>
    <li> }</li>
<% 
    for ( var i = 0; i < selectedTables.length; i++ ) {            
       var schemaName=selectedTables[i].schema;              
       var tableName=selectedTables[i].table;                 
       var attribsInPkey=generator.getPkeyFieldNames(schemaName,tableName);  
       var attribsInPkeyJoined=attribsInPkey.join(','); 
       var phpArgsPkey = genericHelper.joinArrayWithPRefixes(attribsInPkey, '$', ',');  
       var phpVars = genericHelper.joinArrayWithPRefixes(attribsInPkey, '{$', '},')+'}"';  
       var phpKeyVarsInStr = genericHelper.joinArrayWithGlues(attribsInPkey, '\'{$', '}\''  ,  ',');    
       var allAttribs =generator.getTableFieldNamesArr(schemaName,tableName,false); 
       for (var j=0; j< allAttribs.length; j++){
            var fieldName= allAttribs[j];
            if (generator.isFieldBoolean(schemaName,tableName,fieldName)===true){
                allAttribs[j] = "case when "+fieldName+"=true then 'true' when  "+fieldName+"=false then 'false' else null end as "+fieldName;
            }else if (generator.isFieldDateOrTime(schemaName,tableName,fieldName)===true){
                allAttribs[j] = "to_char("+fieldName+",'YYYY-MM-DD') as "+fieldName;
            }
       }
       var allAttribsJoined =allAttribs.join(',');  
       var attribsNonAutogenerated=generator.getTableFieldNamesArr(schemaName,tableName,true);  
       var attribsNonAutogeneratedJoined=attribsNonAutogenerated.join(','); 
       var phpArgs = genericHelper.joinArrayWithPRefixes(attribsNonAutogenerated, '$', ','); 
       var phpVars = genericHelper.joinArrayWithPRefixes(generator.getTableFieldNamesArr(schemaName,tableName,true), '{$', '},')+'}"'; 
       var funcName = generator.getFunctionName(schemaName,tableName,false); 
%>
<li>public function <%=funcName%>List(){     </li>
<li>    $sql="SELECT    <%=allAttribsJoined%></li>
<li>        FROM <%=schemaName%>.<%=tableName%>  </li>
<li>        , count(1) over (partition by 1)  as \\"TotalRecordCount\\" as cnt</li>
<li>        #where# #user#</li>
<li>        ORDER BY #order# </li>
<li>        #limit#  #offset# ";</li>
<li>        $sql=$this->setListParameters($sql,$userAddition=null,"<%=attribsNonAutogeneratedJoined %>");</li>
<li>   $this->db->setQuery($sql);               </li>
<li>   return $this->db->sql2matrix();      </li>
<li>}                                           </li>

<% } %>
<li>}</li>
</ol>
           
   </code>
    </pre>
 </script>
